[Unit]
Description=SystemD Unit for {{ app_artifact }}-{{ app_version }}

[Service]
Type=simple
ExecStart=/usr/bin/java -jar app.jar
WorkingDirectory={{ home_path }}
User={{ user_name }}
Group={{ group_name }}

[Install]
WantedBy=multi-user.target
